body{
  text-align:center;
background-image:url("https://s20.postimg.cc/v7ev7xevh/basic_background_50.png");

}
canvas {
  border: 1px solid black;
/*     background-color: grey; */
}
#startOver{
  margin-top:-140px;
  margin-left:-120px;
  position:absolute;
  width:250px;
  height:60px;
  border:none;
  font-size:30px;
  background-color:#cc66ff;
}
#startOver{
  display:none;
}
